lsof
*.o
tests/config.*
*.a
TAGS
tags
Makefile
*.patch
*~
LTbasic
LTbigf
LTdnlc
LTlock
LTnfs
LTnlink
LTsock
LTszoff
LTunix
/dfile.c
/dlsof.h
/dmnt.c
/dnode.c
/dproc.c
/dproto.h
/dsock.c
/dstore.c
/machine.h
/version.h
